@import "mixins";

.slide-to-captcha {
    position: relative;
    width: 150px;
    height: 30px;
    background-color: #ddd;
    background-color: rgba(221,221,221,1);
    @include multi-box-shadow("inset 0 0 7px rgba(0,0,0,.2), 1px 1px 7px rgba(0,0,0,.4)");
    border-radius: 15px;
    margin-left: 100px;
    border: 2px solid white;
    @include transition(background-color .3s);
}

    .slide-to-captcha:after {
        display: none;
        height: 100%;
        margin-left: 10px;
        line-height: 34px;
        font-weight: bold;
        color: #666;
        color: rgba(0,0,0,0);
    }

    .slide-to-captcha-handle {
        position: absolute;
        width: 40px;
        height: 30px;
        background: #bbb;
        left: 0;
        top: 0;
        @include rounded(15px);
        @include transition(opacity .3s);
    }

        .slide-to-captcha-handle:before, 
        .slide-to-captcha-handle:after {
            position: absolute;
            content: ' ';
            display: block;
            left: 14px;
            top: 15%;
            height: 70%;
            width: 4px;
            @include box-shadow(1px 1px 3px rgba(0,0,0,0.1));
            @include horizontal(#ccc, #aaa);
            @include rounded(2px);
            overflow-y: hidden;
        }

        .slide-to-captcha-handle:after {
            left: 22px;
        }

.slide-to-captcha.valid {
    background-color: rgba(221,221,221,.5);
}

    .slide-to-captcha.valid:after {
        content: "You're human!";
        display: block;
        color: rgba(0,0,0,.6);
    }

    .slide-to-captcha.valid .slide-to-captcha-handle {
        @include opacity(.5);
    }